<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shipin.mappers.MomentCommentMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.shipin.entity.po.MomentComment">
		<!---->
		<id column="comment_id" property="commentId"  />
		<!---->
		<result column="user_id" property="userId"  />
		<!---->
		<result column="moment_id" property="momentId"  />
		<!---->
		<result column="parent_id" property="parentId"  />
		<!---->
		<result column="content" property="content"  />
		<!---->
		<result column="like_count" property="likeCount"  />
		<!---->
		<result column="create_time" property="createTime"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 m.comment_id,m.user_id,m.moment_id,m.parent_id,m.content,
		 m.like_count,m.create_time
	</sql>

	<sql id="base_condition_filed">
			<if test="query.commentId != null">
				 and  m.comment_id = #{query.commentId}
			</if>
			<if test="query.userId != null">
				 and  m.user_id = #{query.userId}
			</if>
			<if test="query.momentId != null">
				 and  m.moment_id = #{query.momentId}
			</if>
			<if test="query.parentId != null">
				 and  m.parent_id = #{query.parentId}
			</if>
			<if test="query.content != null and query.content!=''">
				 and  m.content = #{query.content}
			</if>
			<if test="query.likeCount != null">
				 and  m.like_count = #{query.likeCount}
			</if>
			<if test="query.createTime != null and query.createTime!=''">
				 <![CDATA[ and  m.create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
			</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.contentFuzzy!= null  and query.contentFuzzy!=''">
				 and  m.content like concat('%', #{query.contentFuzzy}, '%')
			</if>
			<if test="query.createTimeStart!= null and query.createTimeStart!=''">
				 <![CDATA[ and  m.create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
				 <![CDATA[ and  m.create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM moment_comment m <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM moment_comment m <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.shipin.entity.po.MomentComment">
		<selectKey keyProperty="bean.commentId" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		 INSERT INTO moment_comment
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.momentId != null">
				 moment_id,
			</if>
			<if test="bean.parentId != null">
				 parent_id,
			</if>
			<if test="bean.content != null">
				 content,
			</if>
			<if test="bean.likeCount != null">
				 like_count,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.momentId!=null">
				 #{bean.momentId},
			</if>
			<if test="bean.parentId!=null">
				 #{bean.parentId},
			</if>
			<if test="bean.content!=null">
				 #{bean.content},
			</if>
			<if test="bean.likeCount!=null">
				 #{bean.likeCount},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.shipin.entity.po.MomentComment">
		 INSERT INTO moment_comment
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.commentId != null">
				 comment_id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.momentId != null">
				 moment_id,
			</if>
			<if test="bean.parentId != null">
				 parent_id,
			</if>
			<if test="bean.content != null">
				 content,
			</if>
			<if test="bean.likeCount != null">
				 like_count,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.commentId!=null">
				 #{bean.commentId},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.momentId!=null">
				 #{bean.momentId},
			</if>
			<if test="bean.parentId!=null">
				 #{bean.parentId},
			</if>
			<if test="bean.content!=null">
				 #{bean.content},
			</if>
			<if test="bean.likeCount!=null">
				 #{bean.likeCount},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.userId!=null">
				 user_id = VALUES(user_id),
			</if>
			<if test="bean.momentId!=null">
				 moment_id = VALUES(moment_id),
			</if>
			<if test="bean.parentId!=null">
				 parent_id = VALUES(parent_id),
			</if>
			<if test="bean.content!=null">
				 content = VALUES(content),
			</if>
			<if test="bean.likeCount!=null">
				 like_count = VALUES(like_count),
			</if>
			<if test="bean.createTime!=null">
				 create_time = VALUES(create_time),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.shipin.entity.po.MomentComment" useGeneratedKeys="true" keyProperty="commentId">
		 INSERT INTO moment_comment(
			 user_id,
			 moment_id,
			 parent_id,
			 content,
			 like_count,
			 create_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.userId},
				 #{item.momentId},
				 #{item.parentId},
				 #{item.content},
				 #{item.likeCount},
				 #{item.createTime}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.shipin.entity.po.MomentComment">
		 INSERT INTO moment_comment(
			 user_id,
			 moment_id,
			 parent_id,
			 content,
			 like_count,
			 create_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.userId},
				 #{item.momentId},
				 #{item.parentId},
				 #{item.content},
				 #{item.likeCount},
				 #{item.createTime}
			 )
		 </foreach>
			on DUPLICATE key update 
			user_id = VALUES(user_id),
			moment_id = VALUES(moment_id),
			parent_id = VALUES(parent_id),
			content = VALUES(content),
			like_count = VALUES(like_count),
			create_time = VALUES(create_time)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.shipin.entity.query.MomentCommentQuery">
		 UPDATE moment_comment m
 		 <set> 
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.momentId != null">
				 moment_id = #{bean.momentId},
			</if>
			<if test="bean.parentId != null">
				 parent_id = #{bean.parentId},
			</if>
			<if test="bean.content != null">
				 content = #{bean.content},
			</if>
			<if test="bean.likeCount != null">
				 like_count = #{bean.likeCount},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete m from moment_comment m
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据CommentId修改-->
	<update id="updateByCommentId" parameterType="com.shipin.entity.po.MomentComment">
		 UPDATE moment_comment
 		 <set> 
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.momentId != null">
				 moment_id = #{bean.momentId},
			</if>
			<if test="bean.parentId != null">
				 parent_id = #{bean.parentId},
			</if>
			<if test="bean.content != null">
				 content = #{bean.content},
			</if>
			<if test="bean.likeCount != null">
				 like_count = #{bean.likeCount},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
 		 </set>
 		 where comment_id=#{commentId}
	</update>

	<!-- 根据CommentId删除-->
	<delete id="deleteByCommentId">
		delete from moment_comment where comment_id=#{commentId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByCommentId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from moment_comment m where comment_id=#{commentId}
	</select>

	<select id="selectAll" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from moment_comment m
	</select>
</mapper>