<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shipin.mappers.MomentLikeMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.shipin.entity.po.MomentLike">
		<!---->
		<id column="like_id" property="likeId"  />
		<!---->
		<result column="user_id" property="userId"  />
		<!---->
		<result column="moment_id" property="momentId"  />
		<!---->
		<result column="create_time" property="createTime"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 m.like_id,m.user_id,m.moment_id,m.create_time
	</sql>

	<sql id="base_condition_filed">
			<if test="query.likeId != null">
				 and  m.like_id = #{query.likeId}
			</if>
			<if test="query.userId != null">
				 and  m.user_id = #{query.userId}
			</if>
			<if test="query.momentId != null">
				 and  m.moment_id = #{query.momentId}
			</if>
			<if test="query.createTime != null and query.createTime!=''">
				 <![CDATA[ and  m.create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
			</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.createTimeStart!= null and query.createTimeStart!=''">
				 <![CDATA[ and  m.create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
				 <![CDATA[ and  m.create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM moment_like m <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM moment_like m <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.shipin.entity.po.MomentLike">
		<selectKey keyProperty="bean.likeId" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		 INSERT INTO moment_like
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.momentId != null">
				 moment_id,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.momentId!=null">
				 #{bean.momentId},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.shipin.entity.po.MomentLike">
		 INSERT INTO moment_like
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.likeId != null">
				 like_id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.momentId != null">
				 moment_id,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.likeId!=null">
				 #{bean.likeId},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.momentId!=null">
				 #{bean.momentId},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.userId!=null">
				 user_id = VALUES(user_id),
			</if>
			<if test="bean.momentId!=null">
				 moment_id = VALUES(moment_id),
			</if>
			<if test="bean.createTime!=null">
				 create_time = VALUES(create_time),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.shipin.entity.po.MomentLike" useGeneratedKeys="true" keyProperty="likeId">
		 INSERT INTO moment_like(
			 user_id,
			 moment_id,
			 create_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.userId},
				 #{item.momentId},
				 #{item.createTime}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.shipin.entity.po.MomentLike">
		 INSERT INTO moment_like(
			 user_id,
			 moment_id,
			 create_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.userId},
				 #{item.momentId},
				 #{item.createTime}
			 )
		 </foreach>
			on DUPLICATE key update 
			user_id = VALUES(user_id),
			moment_id = VALUES(moment_id),
			create_time = VALUES(create_time)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.shipin.entity.query.MomentLikeQuery">
		 UPDATE moment_like m
 		 <set> 
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.momentId != null">
				 moment_id = #{bean.momentId},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete m from moment_like m
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据LikeId修改-->
	<update id="updateByLikeId" parameterType="com.shipin.entity.po.MomentLike">
		 UPDATE moment_like
 		 <set> 
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.momentId != null">
				 moment_id = #{bean.momentId},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
 		 </set>
 		 where like_id=#{likeId}
	</update>

	<!-- 根据LikeId删除-->
	<delete id="deleteByLikeId">
		delete from moment_like where like_id=#{likeId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByLikeId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from moment_like m where like_id=#{likeId}
	</select>

	<!-- 根据UserIdAndMomentId修改-->
	<update id="updateByUserIdAndMomentId" parameterType="com.shipin.entity.po.MomentLike">
		 UPDATE moment_like
 		 <set> 
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
 		 </set>
 		 where user_id=#{userId} and moment_id=#{momentId}
	</update>

	<!-- 根据UserIdAndMomentId删除-->
	<delete id="deleteByUserIdAndMomentId">
		delete from moment_like where user_id=#{userId} and moment_id=#{momentId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByUserIdAndMomentId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from moment_like m where user_id=#{userId} and moment_id=#{momentId}
	</select>

</mapper>